# Ignore C# build outputs
.cache/
bin/
obj/
Content/bin
Content/obj
Generated/
# Ignore user-specific files
*.user
*.suo
# Ignore Visual Studio temporary files
*.vs/
# Ignore NuGet packages
*.nupkg
pipeline-references/

.config
.vscode

